*, ::after, ::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFEDB3;
}
a {
  text-decoration: none;
}
header {
  font-size: 2em;
  font-weight: 600;
  background: #29beef;
  color: white;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 30px;
}
footer {
  background: #29beef;
  color: white;
  width: 100%;
  margin-top: 50px;
  padding: 30px 0;
  text-align: center;
}

.CodeMirror {
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  font-size: 9pt;
  height: 70vh;
  min-height: 100px;
  resize: vertical;
}
code {
  display: inline-block;
  padding: 0.1em 0.25em;
  color: #444;
  background-color: #e7edf3;
  border-radius: 3px;
  border: solid 1px #d6dde4;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.page-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .page-container {
    width: 750px;
  }
}

.name-container {
  display: flex;
  gap: 4px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border-width: 2px;
  border-radius: 4px;

  color: white;
  font-size: 16px;
  font-weight: 700;
}
.green {
  background-color: rgb(76, 175, 80);
}
.yallow {
  background-color: rgb(201, 180, 88);
}
.gray {
  background-color: rgb(117, 117, 117);
}
.blank {
  background-color: white;
  border: solid thin rgba(0, 0, 0, 0.12);
}

.result-container {
  width: 500px;
  margin: 0px auto;
  
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.result-stack-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.answer-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 64px;
  border-radius: 4px;
  margin-top: 40px;

  color: white;
  font-size: 24px;
  font-weight: 700;

  background-color: black;
}

.h-stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.play-button {
  height: 30px;
  width: 80px;
}

.inactive {
  display: none;
}